html,body{
	margin:0px;
	padding:0px;
	background-image:url("https://w0.peakpx.com/wallpaper/907/960/HD-wallpaper-degradado-basic-blue-turquoise.jpg");
	background-image: no-repeat;
	background-image: fixed;
	background-image: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container{
	max-width:1200px;
	margin:0 auto;
}

.text-secondary{
	color: var(--secondary-color);
}

ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
a{
	color: var(--primary-color);
	transition: all 0.3s;
	text-decoration: none;
}
a:hover{
	color: var(--primary-color-dark);
}